<div class="row">
    <div class="col col-md-3" ng-repeat="book in books">
        <div class="panel panel-default">
            
            <div class="panel-body">
                <div>
                    <img class="book-list-image" ng-src="{{book.images[0].image}}" alt="">
                </div>
                <b>{{book.title}}</b>
                <div>
                    <span ng-repeat="author in book.authors">
                        {{author.author}}
                    </span>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-right">{{book.bookshop_name}}</span>
                <div class="clearfix"></div>
            </div>
        </div>
        
    </div>
</div>