<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#/app">WebOps</a>
        <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="books">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://www.inmagik.com" target="_blank">rolled by <b>INMAGIK</b></a></li>
        </ul>
    </div>
</nav>